<%= link_to("Back to Pictures", "/pictures") %> | <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}) %>

<p>
  <strong><%= @picture.title %>, <%= @picture.artist %></strong><br>
  Created on: <%= @picture.created_at %>
</p>
<!-- <img src="<%= @picture.url %>" alt=""> -->
<%= image_tag(@picture.url, class: 'show-img') %>